

.aui-theme-default.bttf #ghx-pool {
    background-image: url('//uploads.documents.cimpress.io/v1/uploads/b1c7c534-5712-4fad-847f-b35903f2c296~110/original?tenant=vbu-digital');
    background-size: cover;
}

.aui-theme-default.bttf .ghx-column-headers .ghx-column, .ghx-columns .ghx-column {
    background: none;
}

.aui-theme-default.bttf .ghx-issue {
    background-color: rgba(255, 255, 255, .9);
}
