.aui-theme-default.dctd #header .aui-header,
.aui-theme-default.dctd #header .aui-header .secondary>ul>li,
.aui-theme-default.dctd .ghx-hero li a:hover,
.aui-theme-default.dctd .ghx-modes .button:hover,
.aui-theme-default.dctd .ghx-modes .button.active { background: #cfdfdc; }
.aui-theme-default.dctd #header .local,
.aui-theme-default.dctd #header .local .primary>ul>li,
.aui-theme-default.dctd #header .aui-header .secondary>ul>li:hover>span.drop-wrap>a:hover>span { background: #DCB226; }
.aui-theme-default.dctd #header .local { border-top: 1px solid #A4B9B5; }
.aui-theme-default.dctd #header .local .primary>ul>li.selected { background-color: #F0F0F0; }
.aui-theme-default.dctd #header .aui-header #logo a { height: 127px; width: 100px; background: url('http://zdyn.net/static/images/dctd_sm.png') no-repeat; }
.aui-theme-default.dctd #header .aui-header { background-color: #FED448; }
.aui-theme-default.dctd #header .aui-header #logo a img,
.aui-theme-default.dctd #announcement-banner { display: none; }