nav.aui-header {
	min-height: 58px;
}

.red_alert {
	margin-top: 1px;
	background: #FCC;
	text-align: center;
	padding: 3px;
	border: 1px solid #A00;
	margin-bottom: 10px;
}

.aui-header .aui-button.aui-button-primary.aui-style {
	background: rgba(255, 255, 255, 0.4);
}
.aui-header .aui-button.aui-button-primary.aui-style:hover {
	background: rgba(255, 255, 255, 0.5);
}

#quickscrum {
	color: white;
	position: absolute;
	top: 37px;
	right: 12px;
}
#quickscrum .quickscrum-category {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	cursor: default;
}
#quickscrum .quickscrum-category > div {
	display: none;
	position: absolute;
	top: 1.3em;
	right: 0;
	z-index: 999999;
	width: 100px;
	padding: 10px;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	border-radius: 3px;
	text-align: right;
}
#quickscrum .quickscrum-category:hover > div {
	display: block;
}
.aui-header #quickscrum a {
	display: block;
	padding: 3px;
	color: #333;
}
.aui-header #quickscrum a:hover {
	background-color: #ccc;
}

#quickscrum .quickscrum-bottom-row {
	text-align: right;
}

.ghx-issue .ghx-end {
	background: transparent;
	box-shadow: none;
}


/* Make annoying admin banner smaller */
#websudo-banner {
  position: fixed;
  background: rgba(255,255,255,.5);
  border: none;
  padding: 0;
}
#websudo-banner > p > span { display: none; }

/* Banner Editor in Admin */
form[name="announcementbanner-edit"] tr td.fieldLabelArea:first-child {
	width: 90px;
}
textarea[name="announcement"]{
	font-family: menlo, monospace;
	background: #222;
	color: whitesmoke;
	padding: 8px;
	width: 100% !important;
	height: 450px;
	line-height: 1.3em;
}