.aui-theme-default.lotht #header .aui-header {
	linear-gradient(270deg, #bb994f, #372e31 86%)
}
.aui-theme-default.lotht #header .aui-header #logo a img,
.aui-theme-default.lotht #announcement-banner,
.aui-theme-default.lotht .ghx-empty * {
	display: none;
}
.aui-theme-default.lotht #header .aui-header #logo a {
	height: 108px;
	width: 144px;
	background: url('https://cdn.rawgit.com/websdotcom/freewebs-jira-announcement/master/img/lotht-rocknroll.gif');
	background-size: contain;
	background-repeat: no-repeat;
}

