.aui-theme-default.moonsharks #header .aui-header #logo a img,
.aui-theme-default.moonsharks #announcement-banner,
.aui-theme-default.moonsharks.page-type-dashboard #dashboard.v-tabs ul.vertical {
    display: none;
}
.aui-theme-default.moonsharks #header .aui-header #logo a {
    height: 100px;
    width: 100px;
    background: transparent url('https://s3.amazonaws.com/locallistings.dev.websimages.com/Left+Shark+Side+of+the+Moon+(Small).png') no-repeat;
}
.aui-theme-default.moonsharks #header nav.aui-header {
    min-height: 100px;
}
.aui-theme-default.moonsharks #header .aui-header {
    background: #262C3A;
}
.aui-theme-default.moonsharks #header .local {
    border-top: 1px solid #f5f5f5;
}
.aui-theme-default.moonsharks #header .local .primary > ul > li.selected {
    background-color: #f0f0f0;
}
.aui-theme-default.moonsharks #header .local,
.aui-theme-default.moonsharks #header .local .primary > ul > li,
.aui-theme-default.moonsharks #header .aui-header .secondary > ul > li:hover > span.drop-wrap > a:hover > span { 
    background: #252525;
}
.aui-theme-default.moonsharks #header .aui-header .secondary > ul > li {
    background: transparent;
}
.aui-theme-default.moonsharks #quickscrum a {
    color: white !important;
}
.aui-theme-default.moonsharks #ghx-chart-view .overlay {
    background: #000000 url('http://www.skitzo-frenik.com/Img/Watchmen/Smile-Medium.jpg') bottom left no-repeat;
    background-size: 200px 200px;
}
.aui-theme-default.moonsharks .ghx-columns {
    background: #000 url('https://s3.amazonaws.com/locallistings.dev.websimages.com/3-shark-moon-600x600.jpg') no-repeat center;
}
.aui-theme-default.moonsharks .ghx-columns .ghx-column {
    background-color: transparent;
}
.aui-theme-default.moonsharks #ghx-pool {
    background-color: #000;
}
