.aui-theme-default.norms .ghx-work {
  background-color: #000;
  background-image: url('http://cdn.rawgit.com/websdotcom/freewebs-jira-announcement/master/img/norms/background.jpg');
  background-position: top center;
  background-size: 75%;
}
