/* Royal Blue: #0b2afb
   Cyan: #2af1fd
   Middle Blue: #1dabfc */

/* hide vistaprint digital image on dashboard home link */
.aui-theme-default.norms .aui-header .aui-header-logo img {
  display: none;
}

/* replace dashboard home link with norms banner */
.aui-theme-default.norms .aui-header .aui-header-logo a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 160px;
  height: 100%;
  outline: none;
  background-color: #0b2afb;
  background-image: url('http://cdn.rawgit.com/websdotcom/freewebs-jira-announcement/master/img/banner-reboot.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.aui-theme-default.norms .aui-header {
  position: relative;
  background-color: #0d0009;
}

@media (max-width: 1100px) {
  .aui-theme-default.norms .aui-header .aui-header-logo a {
    display: none;
  }
}

/* correct colors for label/list hover/focus states */
.aui-theme-default.norms .aui-header .aui-quicksearch input[type='text'] {
  background: rgba(255,255,255,0.2);
}

.aui-theme-default.norms .aui-header .aui-quicksearch input[type='text'][type='text']:focus {
  background: rgba(255,255,255,0.15);
  color: #fff;
}

.aui-theme-default.norms .aui-header .aui-dropdown2-trigger:hover,
.aui-theme-default.norms .aui-header .aui-dropdown2-trigger:focus,
.aui-theme-default.norms .aui-header .aui-dropdown2-trigger.active,
.aui-theme-default.norms .aui-header a:hover,
.aui-theme-default.norms .aui-header a:focus {
  background-color: #3d333a;
}

.aui-theme-default.norms .aui-dropdown2.aui-style-default:hover .aui-dropdown2-checkbox:not(.aui-dropdown2-disabled):hover,
.aui-theme-default.norms .aui-dropdown2.aui-style-default:hover .aui-dropdown2-radio:not(.aui-dropdown2-disabled):hover,
.aui-theme-default.norms .aui-dropdown2.aui-style-default:hover a:not(.aui-dropdown2-disabled):hover {
  background-color: #f5ac00;
}

/* hide pool background so image background shows through */
.aui-theme-default.norms #ghx-pool,
.aui-theme-default.norms .ghx-columns,
.aui-theme-default.norms .ghx-columns .ghx-column,
#jira.ghx-contrast-high.aui-theme-default.norms .ghx-column,
#jira.ghx-contrast-high.aui-theme-default.norms .ghx-columns .ghx-column:nth-child(even) {
  background-color: transparent;
}

/* show norm as background image */
.aui-theme-default.norms .ghx-work {
  background-color: #000;
  background-image: url('http://cdn.rawgit.com/websdotcom/freewebs-jira-announcement/master/img/wallpaper-reboot.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 60%;
}
