.aui-theme-default.RumblePonies .ghx-column > .ghx-issue:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background: repeating-linear-gradient(
		45deg,
		rgb(150, 50, 50),
		rgb(150, 50, 50) 10px,
		rgb(255, 75, 75) 10px,
		rgb(255, 75, 75) 20px
	);
	z-index: 1;
	pointer-events: none;
	background-size: 100%;
}
.aui-theme-default.RumblePonies .ghx-column > .ghx-issue[data-label-names*=current-sprint-ticket]:after {
	display: none;
}
.aui-theme-default.RumblePonies .ghx-column > .ghx-issue[data-label-names*=reopened-ticket] {
	background: #FFD6D6 !important;
}
.aui-theme-default.RumblePonies .ghx-column > .ghx-issue[data-label-names*=reopened-ticket] a {
}
.aui-theme-default.RumblePonies .ghx-column > .ghx-issue[data-label-names*=reopened-ticket]:hover .ghx-end {
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}