.aui-theme-default.spectre #header .aui-header,
.aui-theme-default.spectre #header .aui-header .secondary>ul>li,
.aui-theme-default.spectre .ghx-hero li a:hover,
.aui-theme-default.spectre .ghx-modes .button:hover,
.aui-theme-default.spectre .ghx-modes .button.active { background: #497380; }
.aui-theme-default.spectre #header .local,
.aui-theme-default.spectre #header .local .primary>ul>li,
.aui-theme-default.spectre #header .aui-header .secondary>ul>li:hover>span.drop-wrap>a:hover>span { background: #ba0d3e; }
.aui-theme-default.spectre #header .local { border-top: 1px solid #a10b36; }
.aui-theme-default.spectre #header .local .primary>ul>li.selected { background-color: #F0F0F0; }
.aui-theme-default.spectre #header .aui-header #logo a { height: 66px; width: 70px; background: url('https://s3.amazonaws.com/uploads.hipchat.com/226/752505/PWlHApQeGp3HcRP/pig%20logo.png') 0px 3px/60px 60px no-repeat; }
.aui-theme-default.spectre #header .aui-header #logo a img,
.aui-theme-default.spectre #announcement-banner { display: none; }
.aui-theme-default.spectre .ghx-work .ghx-column-headers .ghx-column,
.aui-theme-default.spectre .ghx-work .ghx-columns .ghx-column { /* background: rgba(211, 14, 69, .14);*/  }
.aui-theme-default.spectre .ghx-empty * { display:none; }
.aui-theme-default.spectre .ghx-empty {
	background: rgba(211, 14, 69,.4)  url('http://nickswider.com/jira/FlyingSquirrelsLarge.png') no-repeat 50% 50%;
	background-size: 120%;
	opacity: .3;
}