.aui-theme-default.spoon #announcement-banner {
  display: none;
}

.aui-theme-default.spoon #ghx-board-name {
  float: left;
  margin-right: 0.5em;
  font-size: 24px;
}

.aui-theme-default.spoon .ghx-sprint-meta,
.aui-theme-default.spoon .ghx-sprint-meta .time {
  margin-right: 0px;
}

.aui-theme-default.spoon .complete-sprint-container {
  display: none;
}
