/*--------Header----------*/

.aui-theme-default.support #header .aui-header {
        background: url('http://www.exitbear.com/nwHeader.png');
        height: 147px;
    }

.aui-theme-default.support .aui-header .aui-dropdown2-trigger,
.aui-theme-default.support #quickscrum .quickscrum-category {
    color: #000;
}

/*Hide blue color-clashing Webs logo*/
.aui-theme-default.support #header .aui-header #logo img{
    display: none;
}

/*------Body?-------------*/

/*aui-theme-default.support #gh #ghx-header,
.aui-theme-default.support #gh #ghx-operations{
    background-color: #D2DAE2;
}

.aui-theme-default.support .ghx-column-headers .ghx-column,
.aui-theme-default.support .ghx-columns .ghx-column {
    background-color: #2D4057;
    border-style:none;
}

.aui-theme-default.support .ghx-column-headers h2{
    color: #fff;
}*/

.aui-theme-default.support #announcement-banner{
    display:none;
}

.aui-theme-default.support .ghx-work {
    background: #000 url('http://www.exitbear.com/nwWallpaper.png');
    background-size: cover;
    opacity: .4;
}

.aui-theme-default.support #ghx-pool,
.aui-theme-default.support .ghx-columns,
.aui-theme-default.support .ghx-columns .ghx-column,
#jira.ghx-contrast-high.aui-theme-default.support .ghx-column,
#jira.ghx-contrast-high.aui-theme-default.support .ghx-columns .ghx-column:nth-child(even) {
    background-color: transparent;
}

